{% extends "layout.html" %}
{% block auto_reload %}
  <meta http-equiv="refresh" content="20">
{% endblock auto_reload %}
{% block content %}
{% for post in posts.items %}
      <div class="text">
        <article class="media">
          <a href="{{ url_for('user_account', username=post.author.username) }}"><img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"></a>
          <div class="media-body">
            <div class="">
              <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a><br>
              <small class="text-muted">{{ post.date_posted.strftime('%H:%M %p -  %d-%m-%Y') }}</small>
            </div>
          </div>
        </article>
        {% if current_user.mode %}
          
          <h5><a style="color:#ffffff; text-decoration:none" class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h5>
          
          {% for word in post.content.split() %}
            {% if word.startswith("https://") or word.startswith("http://") %}
            <a href="{{word}}">{{word}}</a>
            {% elif word.startswith("@")%}
            <a href="{{ url_for('user_account', username=word.replace('@','')) }}">{{word}}</a>
            {% elif word.startswith("#") %}
            <a href="">{{word}}</a>
            {% else %}
              <a style="color:#ffffff; text-decoration:none" href="{{ url_for('post', post_id=post.id) }}">{{word}}</a>
            {% endif %}
          {% endfor %}
          
          {% else %}
          <h5><a style="color:#000000; text-decoration:none" class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h5>
          
          {% for word in post.content.split() %}
            {% if word.startswith("https://") or word.startswith("http://") %}
            <a href="{{word}}">{{word}}</a>
            {% elif word.startswith("@")%}
            <a href="{{ url_for('user_account', username=word.replace('@','')) }}">{{word}}</a>
            {% elif word.startswith("#") %}
            <a href="">{{word}}</a>
            {% else %}
              <a style="color:#000000; text-decoration:none" href="{{ url_for('post', post_id=post.id) }}">{{word}}</a>
            {% endif %}
          {% endfor %}
          
        {% endif %}
      </div>
      <div class="my-4 article-metadata"></div>
    {% endfor %}
   {% if current_user.mode %}
   {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
     {% if page_num %}
       {% if posts.page == page_num %}
         <a class="btn btn-secondary mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
       {% else %}
         <a class="btn btn-outline-secondary btn-secondary mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
       {% endif %}
     {% else %}
       ...
     {% endif %}
   {% endfor %}
   
   {% else %}
   {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
     {% if page_num %}
       {% if posts.page == page_num %}
         <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
       {% else %}
         <a class="btn btn-outline-info btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
       {% endif %}
     {% else %}
       ...
     {% endif %}
   {% endfor %}
     
   {% endif %}
    <a href="{{ url_for('new_post') }}" class="float">
      <i class="fa fa-plus my-float"></i>
      </a>
      
{% endblock content %}
{% block sidepost %}
<!-- <div class="col-md-4">
  <div class="content-section">
    <h3>Pinned Posts</h3>
    <p class='text-muted'>You can put any information here you'd like.
      <ul class="list-group">
        <li class="list-group-item list-group-item-light">Latest Posts</li>
        <li class="list-group-item list-group-item-light">Announcements</li>
      </ul>
    </p>
  </div>
</div>
</div>
</main> -->

{% endblock sidepost %}